<app-navbar></app-navbar>

<!--hero image-->
<div class="ic-history-banner" appParallaxMousemove>
    <div class="ic-history-text">
      <h1>Our History</h1>
    </div>
</div>

<!--history card-->
<div class="card-container">
    <div class="ev-history-card">
        <p>
            Mizzou Racing was established in 1985. We resided in the basement shop of Engineering Building West from 1998 until 2022 
            and saw generations of cars and Mizzou Racers come and go. In 2022, we moved into a new shop in Lafferre Hall with Mizzou 
            Electric Racing and began the joint manufacturing of Mizzou’s very first electric FSAE vehicle. Currently, we produce a 
            combustion car each year and have ranked in the Top 20 of Formula SAE for the last two years.<br><br>Mizzou Racing Alumni 
            have gone on to work at companies like Tesla, Honda, Garmin, SpaceX, Bosch, and Lucid. We have an extensive network of alumni
             who have accomplished some amazing feats due to their time on Mizzou Racing.
        </p>
    </div>
</div>

<!--pictures/titles-->
<div class="history-cars-section">
    <div class="history-car">
      <h2>2025 CAR #22</h2>
      <img src="../../assets/ic-histroy/ic-history-22 - Copy.jpg" alt="Car 22" >
    </div>
  
    <div class="history-car">
      <h2>2024 CAR #55</h2>
      <img src="../../assets/ic-histroy/ic-history-55.jpg" alt="Car 55">
    </div>

    <div class="history-car">
      <h2>2023 CAR #18</h2>
      <img src="../../assets/ic-histroy/2023Car18.jpg" alt="Car 18">
    </div>

    <div class="history-car">
      <h2>2022 CAR #92</h2>
      <img src="../../assets/ic-histroy/2022Car92.jpg" alt="Car 92">
    </div>

    <div class="history-car">
      <h2>2022 CAR #74</h2>
      <img src="../../assets/ic-histroy/2022Car74.jpg" alt="Car 74">
    </div>

    <div class="history-car">
      <h2>2021 CAR #52</h2>
      <img src="../../assets/ic-histroy/2021Car52.jpg" alt="Car 52">
    </div>

    <div class="history-car">
      <h2>2019 CAR #93</h2>
      <img src="../../assets/ic-histroy/2019Car93.jpg" alt="Car 93">
    </div>

    <div class="history-car">
      <h2>2019 CAR #39</h2>
      <img src="../../assets/ic-histroy/2019Car39.jpg" alt="Car 39">
    </div>
  
    <div class="history-car">
      <h2>2018 CAR #34</h2>
      <img src="../../assets/ic-histroy/2018Car34.png" alt="Car 34">
    </div>
  
    <div class="history-car">
      <h2>2018 CAR #28</h2>
      <img src="../../assets/ic-histroy/2018Car28.png" alt="Car 28">
    </div>

    <div class="history-car">
      <h2>2017 CAR #105</h2>
      <img src="../../assets/ic-histroy/2017Car105.jpg" alt="Car 105">
    </div>

    <div class="history-car">
      <h2>2017 CAR #23</h2>
      <img src="../../assets/ic-histroy/2017Car23.png" alt="Car 23">
    </div>
  
    <div class="history-car">
      <h2>2016 CAR #87</h2>
      <img src="../../assets/ic-histroy/2016Car87.jpg" alt="Car 87">
    </div>
  
    <div class="history-car">
      <h2>2015 CAR #85</h2>
      <img src="../../assets/ic-histroy/2015Car85.jpg" alt="Car 85">
    </div>
  
    <div class="history-car">
      <h2>2015 CAR #30</h2>
      <img src="../../assets/ic-histroy/2015Car30.jpg" alt="Car 30">
    </div>

    <div class="history-car">
      <h2>2014 CAR #62</h2>
      <img src="../../assets/ic-histroy/2014Car62Team.jpg" alt="Car 62">
    </div>

    <div class="history-car">
      <h2>2013 CAR #33</h2>
      <img src="../../assets/ic-histroy/2013Car33Team.jpg" alt="Car 33">
    </div>
  
    <div class="history-car">
      <h2>2012 CAR #107</h2>
      <img src="../../assets/ic-histroy/2012Car107.jpg" alt="Car 107">
    </div>
  
    <div class="history-car">
      <h2>2012 CAR #81</h2>
      <img src="../../assets/ic-histroy/2012Car81Team.jpg" alt="Car 81">
    </div>
  
    <div class="history-car">
      <h2>2010 CAR #15</h2>
      <img src="../../assets/ic-histroy/2010Car15Team.jpg" alt="Car 15">
    </div>

    <div class="history-car">
      <h2>2009 CAR #42</h2>
      <img src="../../assets/ic-histroy/2009Car42.jpg" alt="Car 42">
    </div>

    <div class="history-car">
      <h2>2008 CAR #52</h2>
      <img src="../../assets/ic-histroy/2008Car52.jpg" alt="Car 52">
    </div>
  
    <div class="history-car">
      <h2>2006 CAR #54</h2>
      <img src="../../assets/ic-histroy/2006Car54.png" alt="Car 54">
    </div>
  
    <div class="history-car">
      <h2>2004 CAR #2</h2>
      <img src="../../assets/ic-histroy/2004Car2.jpg" alt="Car 2">
    </div>
  
    <div class="history-car">
      <h2>2003 CAR #43</h2>
      <img src="../../assets/ic-histroy/2003Car43.jpg" alt="Car 43">
    </div>

    <div class="history-car">
      <h2>2002 CAR #2</h2>
      <img src="../../assets/ic-histroy/2002Car2Team.jpg" alt="Car 2">
    </div>

    <div class="history-car">
      <h2>2001 CAR #96</h2>
      <img src="../../assets/ic-histroy/2001Car96.jpg" alt="Car 96">
    </div>
  
    <div class="history-car">
      <h2>2000 CAR #4</h2>
      <img src="../../assets/ic-histroy/2000Car4.jpg" alt="Car 4">
    </div>
  
    <div class="history-car">
      <h2>1999 CAR #54</h2>
      <img src="../../assets/ic-histroy/1999Car54.jpg" alt="Car 54">
    </div>
  
    <div class="history-car">
      <h2>1998 CAR #53</h2>
      <img src="../../assets/ic-histroy/1998Car53.jpg" alt="Car 53">
    </div>

    <div class="history-car">
      <h2>1997 CAR #99</h2>
      <img src="../../assets/ic-histroy/1997Car99.jpg" alt="Car 99">
    </div>

    <div class="history-car">
      <h2>1996 CAR #39</h2>
      <img src="../../assets/ic-histroy/1996Car39.jpg" alt="Car 39">
    </div>
  
    <div class="history-car">
      <h2>1995 CAR #72</h2>
      <img src="../../assets/ic-histroy/1995Car72.jpg" alt="Car 72">
    </div>
  
    <div class="history-car">
      <h2>1994 CAR #72</h2>
      <img src="../../assets/ic-histroy/1994Car72.jpg" alt="Car 72">
    </div>
  
    <div class="history-car">
      <h2>1993 CAR #14</h2>
      <img src="../../assets/ic-histroy/1993Car14.jpg" alt="Car 14">
    </div>

    <div class="history-car">
      <h2>1992 CAR #55</h2>
      <img src="../../assets/ic-histroy/1992Car55.jpg" alt="Car 55">
    </div>

    <div class="history-car">
      <h2>1987 CAR </h2>
      <img src="../../assets/ic-histroy/1987Car.jpg" alt="1987Car">
    </div>

    <div class="history-car">
      <h2>1985 CAR #9</h2>
      <img src="../../assets/ic-histroy/1985Car9.jpg" alt="Car 9">
    </div>
</div>

<app-footer></app-footer>
  
