<app-navbar></app-navbar>

<!--hero image-->
<div class="ev-history-banner" appParallaxMousemove>
    <div class="ev-history-text">
      <h1>Our History</h1>
    </div>
</div>

<!--history card-->
<div class="card-container">
    <div class="ev-history-card">
        <p>
            Mizzou Racing was established in 1985. We resided in the basement shop of Engineering Building West from 1998 until 2022 
            and saw generations of cars and Mizzou Racers come and go. In 2022, we moved into a new shop in Lafferre Hall with Mizzou 
            Electric Racing and began the joint manufacturing of Mizzou’s very first electric FSAE vehicle. Currently, we produce a 
            combustion car each year and have ranked in the Top 20 of Formula SAE for the last two years.<br><br>Mizzou Racing Alumni 
            have gone on to work at companies like Tesla, Honda, Garmin, SpaceX, Bosch, and Lucid. We have an extensive network of alumni
             who have accomplished some amazing feats due to their time on Mizzou Racing.
        </p>
    </div>
</div>
  
<!--pictures/titles-->
<div class="history-cars-section">
    <div class="history-car">
      <h2>CAR #55</h2>
      <img src="../../assets/ic-histroy/ic-history-55.jpg" alt="Solar Car">
    </div>

    <div class="history-car">
      <h2>CAR #18</h2>
      <img src="../../assets/ic-histroy/2023Car18.jpg" alt="Solar Car">
    </div>

    <div class="history-car">
      <h2>CAR #92</h2>
      <img src="../../assets/ic-histroy/2022Car92.JPG" alt="Solar Car">
    </div>

    <div class="history-car">
      <h2>CAR #74</h2>
      <img src="../../assets/ic-histroy/2022Car74.JPG" alt="Solar Car">
    </div>

    <div class="history-car">
      <h2>CAR #52</h2>
      <img src="../../assets/ic-histroy/2021Car52.JPG" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #39</h2>
      <img src="../../assets/ic-histroy/2019Car39.jpg" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #34</h2>
      <img src="../../assets/ic-histroy/2018Car34.png" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #28</h2>
      <img src="../../assets/ic-histroy/2018Car28.png" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #105</h2>
      <img src="../../assets/ic-histroy/2017Car105.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #23</h2>
      <img src="../../assets/ic-histroy/2017Car23.png" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #87</h2>
      <img src="../../assets/ic-histroy/2016Car87.jpg" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #85</h2>
      <img src="../../assets/ic-histroy/2015Car85.JPG" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #30</h2>
      <img src="../../assets/ic-histroy/2015Car30.JPG" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #62</h2>
      <img src="../../assets/ic-histroy/2014Car62Team.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #33</h2>
      <img src="../../assets/ic-histroy/2013Car33Team.jpg" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #107</h2>
      <img src="../../assets/ic-histroy/2012Car107.jpg" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #81</h2>
      <img src="../../assets/ic-histroy/2012Car81Team.jpg" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #15</h2>
      <img src="../../assets/ic-histroy/2010Car15Team.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #42</h2>
      <img src="../../assets/ic-histroy/2009Car42.JPG" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #52</h2>
      <img src="../../assets/ic-histroy/2008Car52.jpg" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #54</h2>
      <img src="../../assets/ic-histroy/2006Car54.png" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #2</h2>
      <img src="../../assets/ic-histroy/2004Car2.jpg" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #43</h2>
      <img src="../../assets/ic-histroy/2003Car43.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #2</h2>
      <img src="../../assets/ic-histroy/2002Car2Team.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #96</h2>
      <img src="../../assets/ic-histroy/2001Car96.jpg" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #4</h2>
      <img src="../../assets/ic-histroy/2000Car4.jpg" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #54</h2>
      <img src="../../assets/ic-histroy/1999Car54.jpg" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #53</h2>
      <img src="../../assets/ic-histroy/1998Car53.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #99</h2>
      <img src="../../assets/ic-histroy/1997Car99.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #39</h2>
      <img src="../../assets/ic-histroy/1996Car39.jpeg" alt="Solar Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #72</h2>
      <img src="../../assets/ic-histroy/1995Car72.jpg" alt="Hydrogen Car">
    </div>
  
    <div class="history-car">
      <h2>CAR #72</h2>
      <img src="../../assets/ic-histroy/1994Car72.jpg" alt="Car 237">
    </div>
  
    <div class="history-car">
      <h2>CAR #14</h2>
      <img src="../../assets/ic-histroy/1993Car14.jpg" alt="Car 216">
    </div>

    <div class="history-car">
      <h2>CAR #55</h2>
      <img src="../../assets/ic-histroy/1992Car55.jpg" alt="Car 216">
    </div>
</div>

<app-footer></app-footer>
  
