<app-navbar></app-navbar>
<!--
  - Holley
  - Ansys
-->

<div class="sponsors-header">
    <h1>Our Sponsors</h1>
    <p>
      We deeply appreciate the support from all our sponsors. Their generosity enables us to push the boundaries of engineering,
      innovation, and teamwork. Without their contributions, our success at Formula SAE competitions would not be possible.
    </p>
</div>

<div class="sponsors-grid-container">
  <div class="sponsors-grid">
    <div class="sponsor-card sponsor-black">
      <img src="../../assets/ic-sponsors/mizengineering.png" alt="Sponsor 1 Logo">
      <a href="https://engineering.missouri.edu/" target="_blank">MU Engineering</a>
      <p>Funding</p>
    </div>

    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/petrocanada.jpg" alt="Sponsor 1 Logo">
      <a href="https://petrocanadalubricants.com" target="_blank">Petro Canada Lubricants</a>
      <p>Oil/Product</p>
    </div>

    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/kays.png" alt="Sponsor 1 Logo">
      <a href="https://www.kays-dehoff.com/" target="_blank">Kays</a>
      <p>Machining & Fabrication</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/altec.png" alt="Sponsor 2 Logo">
      <a href="https://www.altec.com/" target="_blank">Altec</a>
      <p>Funding</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/Performance Motorsports Logo.jpg" alt="Sponsor 3 Logo">
      <a>Performance Motorsports</a>
      <p>Driver Training & Design Advising</p>
    </div>
  
    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/prodezigns.png" alt="Sponsor 4 Logo">
      <a href="https://www.prodezigns.com/" target="_blank">Prodezigns</a>
      <p>Livery & Trailer Wrap</p>
    </div>

    <div class="sponsor-card">
        <img src="../../assets/ic-sponsors/PartsBox Logo.png" alt="Sponsor 1 Logo">
        <a href="https://partsbox.com/" target="_blank">PartsBox</a>
        <p>Products</p>
    </div>
    
    <div class="sponsor-card">
        <img src="../../assets/ev-sponsors/BambuLab Logo Vertical PNG.png" alt="Sponsor 2 Logo">
        <a href="https://bambulab.com/en-us" target="_blank">BambuLab</a>
        <p>3D Printer</p>
    </div>

    <div class="sponsor-card">
      <img src="../../assets/ic-sponsors/HunterLogo.png" alt="Sponsor 2 Logo">
      <a href="https://www.hunter.com/" target="_blank">Hunter</a>
      <p>Funding</p>
  </div>
  </div>
</div>

<div class="small-sponsors-container">
  <div class="small-sponsors-grid">

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/Hakko Logo.png" alt="Sponsor 1 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/ic-sponsors/Composite Envisions Logo.png" alt="Sponsor 2 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/hoosier.png" alt="Sponsor 1 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/ic-sponsors/textreme.png" alt="Sponsor 3 Logo">
    </div>
  
    <div class="small-sponsor-card">
      <img src="../../assets/ic-sponsors/Motec.jpg" alt="Sponsor 4 Logo">
    </div>

    <div class="small-sponsor-card">
        <img src="../../assets/ic-sponsors/STR.png" alt="Sponsor 1 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
        <img src="../../assets/ic-sponsors/scinomix logo.png" alt="Sponsor 2 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
        <img src="../../assets/ic-sponsors/3DConnexion Logo.png" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/bmrs.jpg" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/BRMS.png" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/Altium Logo.svg" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/Mathworks Logo.jpg" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/solidworks.png" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/KodiakLogo.png" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/Wiseco.png" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/Holley.jpg" alt="Sponsor 3 Logo">
    </div>

    <div class="small-sponsor-card small-image-back">
      <img src="../../assets/ic-sponsors/analog-devices-logo.png" alt="Sponsor 3 Logo">
    </div>
  </div>
</div>

<app-footer></app-footer>
  
  