<div style="background-color:lightgray;">
  <br>
  <div style="margin-left: 20%;margin-right:20%;padding-bottom: 20px;
   padding-top: 20px;padding-left: 50px;padding-right: 50px;background-color:white;">
    <h1 style="font-size: 4rem; margin-top:-20px;">Brakes & Controls</h1>
    <p style="font-size: 1.2rem;margin-top:-20px;">
      This subsystem encompasses brakes, controls, & ergonomics. We use Wilwood brake calipers with laser cut rotors. Our steering wheel has paddle shifters for sequential pneumatic shifting. Cockpit design is a new goal for this season, specifically making it more adjustable for each driver. We currently have an adjustable pedal chassis with carbon fiber foot cups.
    </p>

  </div>
  <br>
  <br>

<br><br>
<table>
  <tr>
    <td style="width:33%;overflow: hidden;height:400px"><img Src="../assets/BrakesControls/bc1.jpeg" style="object-fit:cover;height: 100%;max-width: 100%;border:3px solid black;"></td>
    <td style="width:33%;border:black;overflow: hidden;height:400px"><img Src="../assets/BrakesControls/BC3.jpg" style="object-fit:cover;width: 100%;height: 100%;border:3px solid black;"></td>
    <td style="width:33%;border:black;overflow: hidden;height:400px"><img Src="../assets/BrakesControls/bc2.jpeg" style="object-fit:cover;width: 100%;height: 100%;border:3px solid black;"></td>

  </tr>
</table>


<br><br>
<!--
Image Area finish after you get the pictures.
//-->
<div style="background-color:lightgray;">
  <br>
  <div style="margin-left: 20%;margin-right:20%;padding-bottom: 20px;
   padding-top: 20px;padding-left: 50px;padding-right: 50px;background-color:white;">
    <h2 style="font-size: 2rem; margin-top:-20px;">Sub Team Lead: Alex Kunz</h2>
    <p style="font-size: 1.2rem;margin-top:-20px;">
      Alex is a sophomore mechanical engineering student. He joined the team his freshman year and worked closely with our previous suspension lead (Spencer Goldstein, Spring 2023) and previous brakes & controls lead (Aaron Jewett). His main goal for this season is cockpit design, specifically making it more adjustable for each driver. Alex is also a member of our welding team and fabricates the chassis and suspension components.
    </p>

  </div>
  <br>
  <br>
</div>
</div>
