<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Electronics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        The Electronics Team is responsible for the design, manufacturing, 
        testing, and integration of all electronic modules across the internal 
        combustion and electric cars. An in-house custom wiring harness connects 
        modules such as a MoTeC M150 ECU, custom Power Distribution Module, 
        custom Wireless Live Telemetry, and custom Dashboard, among other 
        components. The electrical components on each car provide necessary control 
        systems for cooling, ignition, fuel, shifting, power limiting, and data 
        acquisition. 
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/electronics/electronics1.jpg" alt="Electronics work 1">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Electronics work 2">
    <img src="../../assets/electronics/electronics3.jpg" alt="Electronics work 3">
    <img src="../../assets/electronics/electronics4.jpg" alt="Electronics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Low Voltage Lead: Lauren Millard</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/HeadshotLauren.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Lauren is a junior Electrical Engineering and Computer Engineering student. 
            She joined the team in Fall 2023 after seeing the team during a college 
            tour the year before. In addition to managing the low voltage system Lauren 
            works on live telemetry, wire harnessing, and is our treasurer.
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Its definitely a software issue.”</h1>
  <p>- Lauren Millard</p>
</div>

<div class="middle-banner">
  <div class="aero-text-two">
    <h1>High Voltage</h1>
  </div>
</div>

<div class="aero-card-container second-container">
  <div class="aero-card aero-card-two">
    <h3>What We Do...</h3>
    <p>
      The High Voltage team is responsible for the EV powertrain 
      and supporting electronics. The EV powertrain consists of 
      an Accumulator-the system’s high voltage battery pack, the 
      Traction Inverter, and the Drive Motor. The Accumulator stores 
      7.249kWh of energy at 480V, while being able to source 315A of 
      DC current, all from 18650 Li-Ion cells. While competition limits 
      us to 80kW, our system can provide up to 110kW - 147HP and 170 
      lb-ft of torque at the motor. 
    </p>
  </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid aero-image-grid-two">
    <img src="../../assets/electronics/high-voltage1.jpg" alt="High Voltage work 1">
    <img src="../../assets/electronics/high-voltage2.jpg" alt="High Voltage work 2">
    <img src="../../assets/electronics/high-voltage-banner.jpg" alt="High Voltage work 3">
    <img src="../../assets/electronics/high-voltage4.jpg" alt="High Voltage work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-three">
      <h3>High Voltage Lead: Jack Fels</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/HeadshotJack.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Jack is a senior electrical engineering student and 
            Chief Electrical Engineer for Mizzou Racing. He joined 
            the team in the fall of 2022 and is a key member in the
            IC and EV builds. Jacks goals for the season are: to 
            design both a Low Voltage and High Voltage BMS, build 
            custom Li-Ion battery modules, make improvements to the 
            electric powertrain, maximize cooling system power efficiency, 
            and make reliability improvements across-the-board.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“It’s probably a mechanical issue.”</h1>
  <p>- Jack Fels</p>
</div>

<div class="third-banner">
  <div class="aero-text-three">
    <h1>EV Systems</h1>
  </div>
</div>

<div class="aero-card-container third-container">
  <div class="aero-card aero-card-four">
    <h3>What We Do...</h3>
    <p>
      The Ev Systems sub team designs, manufactures, tests, 
      and integrates the high voltage electrical systems for our electric vehicles.
      This includes the design and manufacturing of the Tractive Battery Container,
      the integration of the high voltage powertrain, and the design of all high
      voltage safety systems.
    </p>
  </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid aero-image-grid-three">
    <img src="../../assets/electronics/ev-systems1.jpg" alt="EV Systems work 1">
    <img src="../../assets/electronics/ev-systems2.jpg" alt="EV Systems work 2">
    <img src="../../assets/electronics/ev-systems3.jpg" alt="EV Systems work 3">
    <img src="../../assets/electronics/ev-systems4.jpg" alt="EV Systems work 4">
  </div>
</div>


<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-five">
      <h3>EV Systems Lead: Anshu Gilliyaru</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/HeadshotAnshu.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Anshu is a junior electrical engineering student. He initially joined 
            the team in the fall of 2023 and was part of the design cycle for our 
            previous electric vehicle, Car 216. Anshu main goal for the season is 
            to finalize the design for the 2027 EV.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“It’s DEFINITELY a mechanical issue.”</h1>
  <p>- Anshu Gilliyaru</p>
</div>


<app-footer></app-footer>