<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Electronics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        The Electronics Team is responsible for the design, manufacturing, 
        testing, and integration of all electronic modules across the internal 
        combustion and electric cars. An in-house custom wiring harness connects 
        modules such as a MoTeC M150 ECU, custom Power Distribution Module, 
        custom Wireless Live Telemetry, and Raspberry Pi Dashboard, among other 
        components. The electrical components on each car provide necessary control 
        systems for cooling, ignition, fuel, shiting, power limiting, and data 
        acquisition. 
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/electronics/electronics1.JPG" alt="Aerodynamics work 1">
    <img src="../../assets/brakes-and-controls/brakes4.JPG" alt="Aerodynamics work 2">
    <img src="../../assets/electronics/electronics3.JPG" alt="Aerodynamics work 3">
    <img src="../../assets/electronics/electronics4.JPG" alt="Aerodynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Jack Fels</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/HeadshotJack.JPG" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Jack is a junior electrical engineering student and 
            Chief Electrical Engineer for Mizzou Racing. He joined 
            the team in the fall of 2022 and is a key member in the
            IC and EV builds. Jacks goals for the season are: to 
            design both a Low Voltage and High Voltage BMS, build 
            custom Li-Ion battery modules, make improvements to the 
            electric powertrain, maximize cooling system power efficiency, 
            and make reliability improvements across-the-board.
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“It’s probably a mechanical issue.”</h1>
  <p>- Jack Fels</p>
</div>

<div class="middle-banner">
  <div class="aero-text-two">
    <h1>High Voltage</h1>
  </div>
</div>

<div class="aero-card-container second-container">
  <div class="aero-card aero-card-two">
    <h3>What We Do...</h3>
    <p>
      The High Voltage team is responsible for the EV powertrain 
      and supporting electronics. The EV powertrain consists of 
      an Accumulator-the system’s high voltage battery pack, the 
      Traction Inverter, and the Drive Motor. The Accumulator stores 
      7.249kWh of energy at 480V, while being able to source 315A of 
      DC current, all from 18650 Li-Ion cells. While competition limits 
      us to 80kW, our system can provide up to 110kW - 147HP and 170 
      lb-ft of torque at the motor. 
    </p>
  </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid aero-image-grid-two">
    <img src="../../assets/electronics/high-voltage1.JPG" alt="Aerodynamics work 1">
    <img src="../../assets/electronics/high-voltage2.JPG" alt="Aerodynamics work 2">
    <img src="../../assets/electronics/high-voltage-banner.JPG" alt="Aerodynamics work 3">
    <img src="../../assets/electronics/high-voltage4.JPG" alt="Aerodynamics work 4">
  </div>
</div>


<app-footer></app-footer>
  
  
  
  
  