<div style="background-color: lightgray">
<table>
  <tr>
    <td style="width:40%; padding:5%;vertical-align: text-top;">
    <h1 style="">May 2022-<br>Michigan</h1>
      <p>
        Mizzou Racing placed 19th out of 89 in May!

        Our first competition of the year was a huge success! We placed 7th in endurance. May competition was redemption for Mizzou Racing, Car 74 (previously 52) did not pass part of tech the previous year. Seeing this car race and perform so well is something we are very proud of.
      </p>
    </td>

    <td style="width:60%;text-align: left;padding-right:20%;">
    <h2>19th out of 89</h2>
      <p>
        The team heading to the acceleration event. Driven by Spencer Goldstein (pictured below in car).
      </p>
      <img src="./assets/May2022/May20221.jpg" >

      <h2>Endurance - 7th Place!</h2>
      <p>
        Driven by Chris Drake (pictured below) & Cory Haberberger      </p>
      <img src="./assets/May2022/m222.jpg" >

      <h2>Mizzou Racing & 49ers Racing</h2>
      <p>
        We had the pleasure to meet 49ers Racing at this competition and have remained friends with the team since. It is a blast to see them every year at competition! Our favorite part of competition (besides the racecars) is making friends with other FSAE students that share our passion.
        <img src="./assets/May2022/m221.png" style="height: 400px;width: 100%">










    </td>


  </tr>



</table>
</div>
