<div style="background-color: lightgray">
  <table>
    <tr>
      <td style="width:40%; padding:5%;vertical-align: text-top;">
        <h1 style="">June 2022-<br>Michigan</h1>
        <p>
          Our 2022-2023 Vice President, Spencer Goldstein, placed 5th overall in skidpad. Our 2022-2023 President, Chris Drake, and Team Manager, Gillian Dorman, placed 11th overall in the cost event. We faced many adversities at this competition that would have ended most teams’ competition experience. However, we pushed through and accomplished some amazing results!
        </p>
      </td>

      <td style="width:60%;text-align: left;padding-right:20%;">
        <h2>14th out of 43</h2>
        <p>
          Aaron Jewett waiting in the car for the Tilt Test.
        </p>
        <img src="../assets/June2022/J221.jpg" >

        <h2>Endurance - 6th Place!</h2>
        <p>
          Spencer Goldstein & Chris Drake with driver Cory Haberberger before endurance
        </p>
        <img src="../assets/June2022/J222.jpg">

        <h2>Preparing to Drive</h2>
        <p>
          Mizzou Racing decided to shake things up with a patriotic color scheme for Car # 92. Pictured below are team members Cory Haberberger, Chris Drake, Gillian Dorman, & Spencer Goldstein preparing the car to drive.
        </p>
          <img src="../assets/June2022/J223.jpg" >



      </td>


    </tr>



  </table>
</div>
