<div style="overflow:hidden;position:relative;text-align:center;color:black;">
<img src="../assets/Home.jpg" style="background-color: black; height: 500px;width: 100%;">

<div style="overflow:hidden;background-color: rgba( 255, 255, 255,0.75);position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);
width:70%;
">
<h1 style="font-size:4rem;">Formula SAE</h1>
  <p style="padding-left:10%;padding-right:10%;line-height: 40px"><i>
    "The Formula SAE competitions challenge teams of university undergraduate and graduate students to conceive, design, fabricate, develop and compete with small, formula style vehicles. The competition is an engineering education competition that requires performance demonstration of vehicles in a series of events, both off track and on track against the clock. Each competition gives teams the chance to demonstrate their creativity and engineering skills in comparison to teams from other universities around the world."
  </i>
  </p>


</div>
</div>
<div style="padding-left:15%;padding-right: 15%;">
<table>
  <td style="width:50%;">
    <img src="">

  </td>
  <td style="text-align:left;">
    <h2>Day 1 <br>
    Technical Inspection
    </h2>
    <p style="line-height: 30px;padding-right:10%;">
      Every year FSAE releases rules that every team must follow. These rules dictate how each car is built, but every team has its own unique design. The car goes through a rigorous technical inspection performed by industry professionals. This is where we earn our first nose cone sticker.

    </p>
  </td>

</table>
<hr>

  <table>

    <td style="text-align:left;">
      <h2>Day 2 <br>
        Static Events & Presentations
      </h2>
      <p style="line-height: 30px;padding-right:10%;">
        After passing technical inspection, we must earn three more stickers: tilt, noise, and brakes. The car heads to the fuel station and then goes up on the lift. With a driver sitting in the car, it is tilted up to 45 and then 60 degrees. Industry professionals are checking for any leaks from the car and if it is safe for the driver. Noise testing is when judges will check that our car does not exceed 110 db. The car then heads to brake testing. A driver will fully accelerate and then lock all four tires without the car turning off. After receiving all stickers for these events, we get to drive!
      </p>
      <p style="line-height: 30px;padding-right:10%;">
        Our design and business presentations also happen during these static events. Our team leads present their designs of the car to industry professionals and are ranked on a multitude of criteria. We also present our business presentation during this time.
      </p>
    </td>
    <td style="width:50%;">
      <img src="">

    </td>
  </table>
  <hr>
  <table>
    <td style="width:50%;">
      <img src="">

    </td>
    <td style="text-align:left;">
      <h2>Day 3 <br>
        Dynamic Events
      </h2>
      <p style="line-height: 30px;padding-right:10%;">
        This is when the driving begins! Drivers compete in skidpad, autocross, and acceleration events. Each event has two drivers per team, and each driver gets two runs. This day is action-packed and when all the hard work pays off!
      </p>
    </td>

  </table>
  <hr>

  <table>

    <td style="text-align:left;">
      <h2>Day 4 <br>
        Endurance
      </h2>
      <p style="line-height: 30px;padding-right:10%;">
        The endurance event takes the entirety of the final day. Two drivers compete on the longest course of the competition. Essentially a larger version of autocross, endurance tests for fuel efficiency as well as how well the car can run. Cooling is often the biggest issue in this event. After endurance, cars are tested for how much fuel they used.
      </p>

    </td>
    <td style="width:50%;">
      <img src="">

    </td>
  </table>
  <hr>

</div>
