<div style="position:relative;text-align:center;color:black;">
<img src="" style="background-color: black; height: 500px;width: 100%;">

<div style="background-color: rgba( 255, 255, 255,0.75);position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);
width:60%;
">
<h1 >Formula SAE</h1>
  <p><i>
    "The Formula SAE competitions challenge teams of university undergraduate and graduate students to conceive, design, fabricate, develop and compete with small, formula style vehicles. The competition is an engineering education competition that requires performance demonstration of vehicles in a series of events, both off track and on track against the clock. Each competition gives teams the chance to demonstrate their creativity and engineering skills in comparison to teams from other universities around the world."
  </i>
  </p>


</div>
</div>
