<p>log-finance works!</p>
<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Logistics and Finance</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        We keep the team running. Ensuring deadlines are hit 
        and budgets are balanced. The ability to make it to 
        competition each year necessitates organization, fiscal 
        responsibility, and communication. Nobody wants to maintain 
        the spreadsheets... but someone has to. 
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/electronics/electronics1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/electronics/electronics3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/electronics/electronics4.JPG" alt="Aerodynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Justin Bowers</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/Jack.JPG" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Justin is a third-year Computer Science and Electrical Engineering student, 
            and the President of Mizzou Racing. He joined the team in Fall 2022 after he 
            saw a flyer hanging outside of Naka Hall. Justin was the team’s treasurer in 
            2023-24. He designs electrical harnesses and embedded software systems, and 
            considers himself the “resident CAN (theory) expert.” Justins goals for the 
            year are to end the year with money in the bank, and exist through the year. 
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“Frugality is a virtue; that we have yet to learn.”</h1>
  <p>- Justin Bowers</p>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card aero-card-two">
      <h3>Sub Team Lead: Caleb Harris</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/Jack.JPG" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Caleb is a sophomore Computer Science student. He joined 
            the team in Fall 2023 after seeing the team during a college 
            tour the year before. Caleb manages the budget, tracks team 
            spending, and works on embedded software systems and considers 
            himself the “resident CAN (implementation) expert.” Caleb’s goals 
            for the year are to develop the live telemetry, lap timing, and shift 
            system.
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“You don’t understand... they’re twisted AND shielded.”</h1>
  <p>- Caleb Harris</p>
</div>



<app-footer></app-footer>
  
  
  
  
  