<!DOCTYPE html>
<html>
<head>
  <title>Mizzou Racing</title>
  <!--<link rel="icon" type="image/x-icon" href="../assets/practice.png">//-->
</head>
<body>
<div style="margin-top:50px;"></div>
<a href="" >
  <img Src="../assets/Home/GoodLogo.jpg" alt="Mizzou Racing Image" >
</a>
<div class="bar">
<nav>
  <a routerLink="home">Home</a>
  <a routerLink="history">History</a>
  <div class="dropdown">
    <a class="dropbtn">Sub Teams</a>
    <div class="dropDownCnt">
    <a routerLink="aerodynamics">AeroDynamics</a>
      <br><a routerLink="brakes-controls">Brakes & Controls</a>
      <br><a routerLink="electronics">Electronics</a>
      <br><a routerLink="powertrain">Powertrain</a>
      <br><a routerLink="vehicle-dynamics">Vehicle Dynamics</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="dropbtn">Competition</a>
    <div class="dropDownCnt">
      <a routerLink="competition-overview">Competition Overview</a>
      <br><a routerLink="may2022">May 2022</a>
      <br><a routerLink="june2022">June 2022</a>
      <br><a routerLink="may2023">May 2023</a>
      <br><a routerLink="june2023">June 2023</a>
    </div>
  </div>
  <a routerLink="sponsors">Sponsors</a>
  <a routerLink="photo-gallery">Photo Gallery</a>
</nav>

</div>
 <!--
 Enter servable and changing website here
 //-->
<router-outlet></router-outlet>

<br>
<br>
<div class="footer">
<h2>mizzouracing.com</h2>
  <a href="sae@missouri.edu" class="email">
<h3 >sae@missouri.edu</h3>
  </a>
  <br>
  <a href="https://www.instagram.com/mizzouracing/" target="_blank">
    <img src="../assets/OtherAssets/insta2.png" alt="instagram link" class="insta">
  </a>
</div>

</body>
</html>
