<!DOCTYPE html>
<html>
<head>
  <title>Mizzou Racing</title>

</head>
<body>
<a href="">
  <img Src="../assets/MRLogo.jpg" alt="Mizzou Racing Image" height="247" width="330">
</a>
<div class="bar">
<nav>
  <a routerLink="home">Home</a>
  <a routerLink="history">History</a>
  <div class="dropdown">
    <a class="dropbtn">Sub Teams</a>
    <div class="dropDownCnt">
    <a routerLink="aerodynamics">AeroDynamics</a>
      <br><a routerLink="brakes-controls">Brakes & Controls</a>
      <br><a routerLink="electronics">Electronics</a>
      <br><a routerLink="powertrain">Powertrain</a>
      <br><a routerLink="vehicle-dynamics">Vehicle Dynamics</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="dropbtn">Competition</a>
    <div class="dropDownCnt">
      <a routerLink="competition-overview">Competition Overview</a>
      <br><a routerLink="may2022">May 2022</a>
      <br><a routerLink="june2022">June 2022</a>
      <br><a routerLink="may2023">May 2023</a>
      <br><a routerLink="june2023">June 2023</a>
    </div>
  </div>
  <a routerLink="sponsors">Sponsors</a>
  <a routerLink="photo-gallery">Photo Gallery</a>
</nav>

</div>
 <!--
 Enter servable and changing website here
 //-->
<router-outlet></router-outlet>

<br>
<br>
<h2>mizzouracing.com</h2>





</body>
</html>
