.aero-banner {
  background-image: url('../../assets/how-to-give/banner2.png');
}
  
.aero-card {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.overviewText {
  flex-shrink: 0;
  width: 100%;
}

.card-left {
  flex: 3;
}

.card-right {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.contact-image {
  max-width: 100%; /* Image takes up 80% of the right side with padding around it */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow around the image */
}

.starColor {
  color: #F1B82D;
}

a {
  font-weight: 600;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#inner-ordered-list {
  list-style-type: lower-alpha;
}


@media (max-width: 768px) {
  .aero-banner {
    background-position: 39%;
  }

  .aero-card {
    flex-direction: column;
  }

  .card-left, .card-right {
    flex: unset;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .card-right p {
    padding-left: 0;
    border-left: none;
  }

  .contact-image {
    max-width: 80%;
  }
}