
<div style="background-color: lightgray">
  <table>
    <tr>
      <td style="width:40%; padding:5%;vertical-align: text-top;">
        <h1 style="">May 2023-<br>Michigan</h1>
        <p>
          Our 2022-2023 Vice President, Spencer Goldstein & 2022-2023 Treasurer Aaron Jewett placed 2nd overall in Skidpad, bringing home Mizzou Racing's first trophy post-pandemic. We worked to improve the car's performance with testing & tuning throughout the year and the hard work paid off.
        </p>
      </td>

      <td style="width:60%;text-align: left;padding-right:20%;">
        <h2>17th out of 114</h2>
        <p>
          The team departing from a successful tilt test. Ben Higgins & Alex Kunz are pushing Cory Haberberger in the car joined by Spencer Goldstein.
        </p>
        <img src="../assets/May2023/M231.jpg" style="height:300px;object-fit: cover;width:100%;">

        <h2>Endurance - 9th Place!</h2>
        <p>
          Spencer Goldstein, Ben Higgins, Chris Drake, & Cory Haberberger prepare for endurance
          </p>
        <img src="../assets/May2023/M232.jpg" style="height:300px;object-fit: cover;width:100%;">

        <h2>Acceleration</h2>
        <p>
          Spencer Goldstein driving Acceleration
        </p>
          <img src="../assets/May2023/M233.jpg" style="height:300px;object-fit: cover;width:100%;">










      </td>


    </tr>



  </table>
</div>
