<script>
  function leftScroll() {
    const left = document.querySelector(".sidescroll");
    left.scrollBy(200, 0);
  }
  function rightScroll() {
    const right = document.querySelector(".sidescroll");
    right.scrollBy(-200, 0);
    console.log(34);
  }
</script>
<div>
  <h1> Car # 74</h1>
  <div class="cover">
    <button class="left" onclick="leftScroll()">Left</button>
<div class="sidescroll">

  <div class="container">
    <div class="gallery">
      <div>
        <div class="VC" id="VC1"></div>
      <div class="VC" id="VC2"></div>
      <div class="VC" id="VC3"></div>
      <div class="VC" id="VC4"></div>
      <div class="VC" id="VC5"></div>
      <div class="VC" id="VC6"></div>
      <div class="HC" id="HC1"></div>
      <div class="HC" id="HC2"></div>
      <div class="HC" id="HC3"></div>
      <div class="HC" id="HC4"></div>
      <div class="HC" id="HC5"></div>
      <div class="HC" id="HC6"></div>
      <div class="HC" id="HC7"></div>
      <div class="HC" id="HC8"></div>
      <div class="HC" id="HC9"></div>
      <div class="HC" id="HC10"></div>
      <div class="HC" id="HC11"></div>
      <div class="HC" id="HC12"></div>
      <div class="HC" id="HC13"></div>
        <div class="HC" id="HC14"></div>
      </div>

      <figure id="GI1">
        <img src="./assets/PhotoGallery/Car74/TILT.jpg" alt="Gallery image 1" class="gallery__img">
      </figure>

      <figure id="GI2" >
        <img src="./assets/PhotoGallery/Car74/DRV.jpg" alt="Gallery image 2" class="gallery__img">
      </figure>

      <figure id="GI3" >
        <img src="./assets/PhotoGallery/Car74/top3.jpg" alt="Gallery image 3" class="gallery__img">
      </figure>

      <figure id="GI4" >
        <img src="./assets/PhotoGallery/Car74/PG2.jpg" alt="Gallery image 4" class="gallery__img">
      </figure>

      <figure id="GI5" >
        <img src="./assets/PhotoGallery/Car74/num1.jpeg" alt="Gallery image 5" class="gallery__img">
      </figure>

      <figure id="GI6" >
        <img src="./assets/PhotoGallery/Car74/COL.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI7" >
        <img src="./assets/PhotoGallery/Car74/Fire.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI8" >
        <img src="./assets/PhotoGallery/Car74/GP.jpeg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI9" >
        <img src="./assets/PhotoGallery/Car74/POSE.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI10" >
        <img src="./assets/PhotoGallery/Car74/PUSH.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI11" >
        <img src="./assets/PhotoGallery/Car74/CONE.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

      <figure id="GI12" >
        <img src="./assets/PhotoGallery/Car74/PREP.jpg" alt="Gallery image 6" class="gallery__img">
      </figure>

    </div>
  </div>


</div>
    <button class="right" onclick="rightScroll()">Right</button>
  </div>
</div>
<br><br><br><br><br><br><br>
<app-photo></app-photo>



