<app-navbar></app-navbar>

<div class="aero-banner par-banner" appParallaxMousemove>
    <div class="aero-text">
      <h1>Vehicle Dynamics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        Our suspension and chassis subteams make up the vehicle dynamics 
        team. We design and manufacture components in house with our manual 
        and CNC machines. Some highlights of our suspension package are KW 
        V5 dampers, adjustable anti-roll bars, and carbon fiber rods. The 
        team adjusts the toe and camber for events to maximize performance 
        through extensive testing.
      </p>
    </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/vehicle-dynamics/vehicle-dynamics1.jpg" alt="Vehicle Dynamics work 1">
    <img src="../../assets/vehicle-dynamics/vehicle-dynamics2.jpg" alt="Vehicle Dynamics work 2">
    <img src="../../assets/vehicle-dynamics/vehicle-dynamics3.jpg" alt="Vehicle Dynamics work 3">
    <img src="../../assets/vehicle-dynamics/vehicle-dynamics4.jpg" alt="Vehicle Dynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Vehicle Dynamics Sub Team: </h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/brakes-and-controls/HeadshotDylan.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-image">
          <img src="../../assets/aerodynamics/HeadshotRyan.jpg" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Our vehicle dynamics sub team is managed by the dynamic duo of 
            our breaks lead, Dylan Goldstein, and our aerodynamics lead, Ryan Blanken. 
            The two of them have been studying suspension geometry and chassis design 
            while updating the components on the cars. Their goals for the year include 
            a rear strucutre update, upright redesign, tire models, and data acquistion 
            to make on track adjustments.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>"Don’t let your classes get in the way of your engineering education."</h1>
  <p>- Dylan Goldstein and Ryan Blanken</p>
</div>

<app-footer></app-footer>