
<div style="background-color:lightgray;">
<div>
  <br>
  <div style="margin-left: 30%;margin-right:30%;padding-bottom: 20px;
   padding-top: 20px;padding-left: 50px;padding-right: 50px;background-color:white;">
    <h1 style="font-size: 4rem; margin-top:-20px;">Aerodynamics</h1>
    <p style="font-size: 1.2rem;margin-top:-20px;">
      We design and manufacture an aerodynamics package for every car. With the help of sponsors, we have all of the materials needed for composite parts production in our shop. The aerodynamics package provides downforce and drag reduction for our car. Our Aerodynamics Team work to design front and rear wings, a nose cone, side pods, and an undertray.
    </p>

  </div>
  <br>
  <br>
</div>
<br><br>

<table>
  <tr>
    <td><img Src="./assets/Aerodynamics/Aerodynamics2.jpg"></td>
    <td><img Src="./assets/Aerodynamics/Aerodynamics3.jpg"></td>
    <td><img Src="./assets/Aerodynamics/Aerodynamics1.jpg"></td>

  </tr>
</table>
<br><br>
<!--
Image Area finish after you get the pictures.
//-->
<div style="background-color:lightgray;">
  <br>
  <div style="margin-left: 30%;margin-right:30%;padding-bottom: 20px;
   padding-top: 20px;padding-left: 50px;padding-right: 50px;background-color:white;">
    <h2>Sub Team Lead: Abel Osorio-Morales</h2>
    <p>
      Abel is a senior mechanical engineering major. He joined the team in Fall 2020. He has dedicated his time to learning Star CCM software and creating simulations to design a more efficient aerodynamics package. Abel has redesigned our rear wing and sidepod/ducts. He also introduced the addition of Mylar to our carbon fiber manufacturing process improving the surface finish on our parts. While away on co-op at Hunter Engineering for Fall 2023, Abel is continuing his design process remotely and commuting in on weekends.
          </p>

  </div>
  <br>
  <br>
</div>
</div>
