<div>
  <img src="" class="BGIMG">
  <h1>University of Missouri<br> Formula SAE</h1>
  <h2>Designing, Building, and Racing since 1985</h2>
</div>
  <br>
<br>
<h2>About Us</h2>
<br>
<p>Mizzou Racing is the University of Missouri’s Formula SAE Team.<br><br>
  We build a ¼ scale formula style car each year and compete against universities from around the world. The car is designed, manufactured, and built by our members; our organization is entirely student run. We have five sub teams: aerodynamics, electronics, powertrain/drivetrain, suspension, and brakes & controls. Our team is made up of engineering students (as well as other majors) ranging from freshmen to seniors. We compete in the combustion class of FSAE.
</p>
<div>
  <h2>Check out our Instagram!</h2>
  <h3>@mizzouracing</h3>
<!--
put instagram posts here somehow ill have to figure that out maybe some backend stuff sadly

//-->
<button>Load More</button>
</div>
<div>
<div class="scon">
<h2>Contact Us</h2>
<h3>Lafferre Hall<br>
416 S 6th Street<br>
Columbia, MO 65201<br><br>
sae@missouri.edu</h3>
</div>
<img class="sidepic" src="../assets/practice.png">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>



