<div class="body">
<h1>Meet Our Sponsors</h1>
<a href="https://mizzougivedirect.missouri.edu/fund.aspx?item_id=212">
  If you are interested in sponsoring our team, Please reach out to sae@missouri.edu or use our donation link
</a>
<p class="main">
  We have the privilege of receiving support from numerous sponsors! Our sponsors make our cars possible. The complementary products, monetary donations, and services we receive greatly benefit our build process and we could not do it without them.
</p>
<div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/Engineering.jpg" >
    <div class="text" >
    <p>Funding, Guidance, Resources</p>
    <h3>MU College of Engineering</h3>
    <a href="https://engineering.missouri.edu/discover-whats-possible/?utm_source=google&utm_medium=cpc&utm_campaign=TM-Request|Missouri|Engineering|Pre-Applicant&utm_source=google&utm_medium=cpc&utm_campaign=SW-22|AllLocations|Yield|Admits&utm_term=engineering&utm_content=s_pcrid_667803883652_pkw_engineering_pmt_p_pdv_c_slid__&gad=1&gclid=EAIaIQobChMIz5Gk3aKWgQMVZuvjBx0h7ggUEAAYASAAEgKaVfD_BwE">engineering.missouri.edu</a>
    </div>
  </div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/Kays.png" >
    <div class="text">
    <p>Machining & Fabrication</p>
    <h3>Kays</h3>
    <a href="https://www.kays-dehoff.com/">kays-dehoff.com</a>
    </div>
  </div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/Jim.jpg" >
    <div class="text">
    <p>Driver Training & Design Advising</p>
    <h3 style="font-size: 29px;">Performance Motorsports Design</h3>
    <a href="https://m.facebook.com/people/Performance-Motorsports-Design-LLC/100054228938442/">performancemotorsports.com</a>
    </div>
  </div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/Altec.png" >
    <div class="text">
    <p>Funding</p>
    <h3>Altec Inc.</h3>
    <a href="https://www.altec.com/">altec.com</a>
    </div>
  </div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/partsbox.png" style="object-fit: scale-down;background-color: white" >
    <div class="text">
      <p>Software</p>
      <h3>Parts Box</h3>
      <a href="https://partsbox.com/">partsbox.com</a>
    </div>
  </div>
  <div class="tbl"  >
    <img src="./assets/Sponsors/ADI.png" >
    <div class="text">
      <p>Electrical Hardware</p>
      <h3>Analog Devices</h3>
      <a href="https://www.analog.com/en/index.html">analog.com</a>
    </div>
  </div>
  <!--small logos below down here-->
<div></div>
    <div class="SL">
      <img src="./assets/Sponsors/SolidWorks.jpg" style="object-position:35% 60%" class="SI" >
      <h3 class="txt" >
        Solid Works
      </h3>
  </div>
    <div class="SL">
      <img src="./assets/Sponsors/Mathworks.jpg" style="object-position:35% 60%" class="SI" >
      <h3 class="txt">
        Mathworks
      </h3>
    </div>
    <div class="SL">
      <img src="./assets/Sponsors/Ansys.png" style="object-position:35% 50%" class="SI" >
      <h3 class="txt">
        Ansys
      </h3>
    </div>
  <div class="SL">
    <img src="./assets/Sponsors/BMRS.png" style="object-position:35% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      BMRS
    </h3>
  </div><div class="SL">
  <img src="./assets/Sponsors/3dconnexion.png" style="object-position:35% 50%;object-fit: scale-down;background-color: white" class="SI" >
  <h3 class="txt">
    3Dconnexion
  </h3>
</div><div class="SL">
  <img src="./assets/Sponsors/CompEnv.png" style="object-position:35% 50%;object-fit: scale-down;background-color: white" class="SI" >
  <h3 class="txt">
    Composite Envisions
  </h3>
</div>
  <div class="SL">
    <img src="./assets/Sponsors/Hoosier.png" style="object-position:35% 50%" class="SI" >
    <h3 class="txt">
      Hoosier
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/scinomix.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Scinomix
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/Altium.png" style="object-position:35% 60%" class="SI" >
    <h3 class="txt">
      Altium
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/Motec.jpg" style="object-position:50% 50%" class="SI" >
    <h3 class="txt">
      Motec
    </h3>
  </div><div class="SL">
  <img src="./assets/Sponsors/Hakko.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
  <h3 class="txt">
    Hakko
  </h3>
</div>
  <div class="SL">
  <img src="./assets/Sponsors/STR.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
  <h3 class="txt">
    Sharpe Talon Racing
  </h3>
</div>

  <div class="SL">
    <img src="./assets/Sponsors/PCL.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Petro Canada Lubricants
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/siemans.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Siemens
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/Textreme.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Textreme
    </h3>
  </div>
  <div class="SL">
    <img src="./assets/Sponsors/Holley.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Holley
    </h3>
  </div><div class="SL">
  <img src="./assets/Sponsors/BambuLab.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
  <h3 class="txt">
    Bambu Lab
  </h3>
</div>
  <div class="SL">
    <img src="./assets/Sponsors/impact.png" style="object-position:50% 50%;object-fit: scale-down;background-color: white" class="SI" >
    <h3 class="txt">
      Impact
    </h3>
  </div>
</div>

</div>

