

img{
  height:300px;
  width:300px;
  object-fit: cover;
  float:left;
}

.tbl{
  background-color: lightgray;
  width:45%;height:300px;
  align-content: center;
  margin-left:2.5%;
  margin-bottom: 2.5%;
  display:inline-block;
  border:2px solid darkgoldenrod;
}
a{
  color:black;
}
p{
    line-height: 30px;
    font-size: 1.2rem;
}
.main{
  width:50%;
  margin-left:25%;
}
.body{
  background-color: #f6f5f5;
}
h1{
  padding-top:50px;
  font-size:4rem;
}

